{% extends '::base.html.twig' %}
{% block body %}
    <script src={{ asset('https://code.jquery.com/jquery-3.2.1.js') }} integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <style>
        body{
            background-image:url('{{ asset('../../../images/wallpaper-2561368_960_720.jpg') }}');
            background-size:cover;
        }
    </style>

    <h1 class="header">NOUS CONTACTER</h1>
<div class="row col l4">
<div class="col l4">
    <iframe class="card large z-depth-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.2169727146634!2d4.841073951561579!3d45.746795979002826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDQ0JzQ4LjUiTiA0wrA1MCczNS44IkU!5e0!3m2!1sfr!2sfr!4v1515673350762" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

    <div class="container center col l8">
    {{ form_start(form) }}

    <div>
        <input type="text" required id="form.subject" placeholder="Votre sujet">
        {{ form_errors(form.subject) }}
    </div>
    <div>
        <input type="text" required id="form.name" placeholder="Votre nom">
        <label for="text" data-error="wrong" data-success="right">nom | pseudo</label>
        {{ form_errors(form.name) }}
    </div>
    <div>
        <input type="email" required id="form.email" placeholder="exemple@exemple.com">
        <label for="email" data-error="wrong" data-success="right">Email</label>
        {{ form_errors(form.email) }}
    </div>
    <div>
        <input class="input" type="text" required id="form.message" placeholder="Message">
        {{ form_errors(form.message) }}
    </div>

    {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(form) }}
    </div>

    <input class="btn-large pink" type="submit" value="Submit" onclick="fct()">
    {{ form_end(form) }}

</div>
</div>

    <script>function fct(){
        Materialize.toast('MESSAGE ENVOYÉ', 4000)
        }</script>


{% endblock %}


