{% extends "::base.html.twig" %}

{% block body %}



<div class="container">
        {% for advert in adverts %}
<table>

        <article id="two card-panel">

            <h1 class="header"> {{ advert.title }}</h1>
            <p>    <a class="card red" href="{{ path('entity_advert_show',{ 'id': advert.id }) }}">
                    <img class="responsive" src="{{ asset('uploads/images/' ~ advert.image) }}" height="300px" width="600px" ></a>
                <i class="material-icons">swatch</i>{% if advert.date %}{{ advert.date|date('Y-m-d H') }}{% endif %}

                <blockquote>  <i class="material-icons">book</i><strong style="color:dodgerblue;">  {{ advert.author }}</strong></blockquote>
            <a class="btn-large green" href="{{ path('entity_advert_show',{ 'id': advert.id }) }}">Lire</a>

            <hr>

            </p>



        </article>




</table> {% endfor %}</div>  <div class="text-center">{{ knp_pagination_render(adverts) }}</div>


    <script>$('a').click(function(){
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top - 30
            }, 500);
            return false;
        });</script>
{% endblock %}
