{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="header">  {{ advert.title }}</h1>

    <table>
        <tbody>
            <tr>
                <td>{{ advert.id }}</td>
                    <article id="two card-panel">


                        <p><a class="card red" href="">
                                <img src="{{ asset('uploads/images/' ~ advert.image) }}" height="300px" width="600px" ></a>
                            <i class="material-icons">swatch</i>{% if advert.date %}{{ advert.date|date('Y-m-d H') }}{% endif %}

                        <blockquote>  <i class="material-icons">book</i><strong style="color:dodgerblue;">  {{ advert.author }}</strong></blockquote>
                        <hr>
                        </p>
                        {{ advert.content }}

                    </article>
    <ul>
        <li>
            <a href="{{ path('entity_advert_index') }}" class="btn-large blue" >Retour</a>
        </li>
        <li>
            <a  class="btn-large green"href="{{ path('entity_advert_edit', { 'id': advert.id }) }}">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn red" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
