
{% extends 'base.html.twig' %}

{% block body %}
    <style>
        nav .brand-logo {
            margin-left: 20px;
        }
        nav form {
            margin-left: 180px;
            width: 300px;
        }

        #actors{
            display:flex;
            margin-left:5%;
        }
        .material-icons{
            color:dodgerblue!important;
        }
    </style>


<div class="container">
        <blockquote><h4 class="header">Les acteurs de la filière "Sport mécaniques & Mobilité Durable"     </h4></blockquote>
        <hr>
        <p class="flowtext">cet annuaire regroupe les coordonnées de tous les acteurs (entreprises, clubs, écoles, organisme de formation...) qui oeuvrent dans une ou plusieurs catégories de la filière "Sport Mécanique et Mobilité Durable" sur le territoire Alès Cévènnes.
        Vous recherchez un prestataire, un service, une formation dans ces métier? <strong>C'est ici</strong></p>


{#search bar#}

    <div>
        <nav>
            <div class="nav-wrapper white z-depht-10"><a class="brand-logo" href="/"><i class="material-icons">search</i></a><a class="right button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-more-vert"></i></a>


                <ul class="right hide-on-med-and-down" id="nav-mobile">

                    <a class='dropdown-button btn blue' href='#' data-activates='dropdown1'>Catégorie</a>

                    <ul id='dropdown1' class='dropdown-content'>
                        {% for actor in pagination %}
                        <li><a href="">{{  actor.categorie }}</a></li>
                        {% endfor %}


                    </ul>

                </ul>

                <form class="red lighten-3">
                    <div class="input-field">
                        <input class="grey" id="search" type="search"/>
                        <label for="search"><i class="mdi-action-search">MOTS CLEES</i></label><i class="mdi-navigation-close close"></i>
                    </div>

                </form>
            </div>
        </nav>
    </div>
    <hr>
        {% for actor in pagination %}
            <div id="actors">
            <div  class="card medium z-depth-5 hover white">
            <div  class="card-image waves-effect waves-block waves-light">
            <img id="blur" class="activator" src="{{ asset('uploads/images/' ~  actor.image ) }}" height="300px" width="600px">

            </div>
            <div  class="card-content z-depth-10 white">
            <span class="card-title activator grey-text text-darken-4"><a class="btn-large blue" href="{{ path('actors_show', { 'raisonsocial': actor.raisonsocial }) }}">{{ actor.raisonsocial }}</a><i class="material-icons right">more_vert</i></span>
            <p><a href="#">{{ actor.siteweb }}</a></p>
            </div>
            <div  class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons">accessibility</i>{{ actor.nomdudirigeant }}<i class="material-icons right">close</i></span>
            <ul>
            <li> <i class="material-icons">place</i>{{ actor.adresse }} </li>
            <li><i  class="material-icons">phone</i> {{ actor.tel }} </li>
            <li><i  class="material-icons">mail</i> {{ actor.mail }} </li>
            <li><i class="material-icons">arrow</i> <blockquote> <strong>{{ actor.secteur}} </strong> {{ actor.description }}</blockquote> </li>

            <li> <i class="material-icons">device_hub</i> {{ actor.facebook }} </li>
            <li><i  class="material-icons">linkedin</i> {{ actor.linkedin }} </li>
            <li><a  href=""><i class="material-icons">twitter</i> {{actor.twitter }}</a> </li>
            <li><i  class="material-icons">instragram</i> {{ actor.instagram }} </li>
            <li></li>
            <li>  {{ actor.competences }} </li>
            </ul>
            <ul>
            <li>
            <a class="btn-large green" href="{{ path('actors_show', { 'raisonsocial': actor.raisonsocial }) }}">Voir +</a>
            </li>
            </ul>
            </div>
            </div>
        {% endfor %}
</div>
    </table>
</div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>






{% endblock %}
