
{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="header">LE CLUSTER</h1>
    <table>

        {# table body #}
        {% for actor in pagination %}
            <div  class="row">

            <div  class="container">
            <div  class="card medium z-depth-5 hover black">
            <div  class="card-image waves-effect waves-block waves-light">
            <img id="blur" class="activator" src="{{ asset('uploads/images/' ~  actor.image ) }}" height="300px" width="600px">

            </div>
            <div  class="card-content z-depth-10 white">
            <span class="card-title activator grey-text text-darken-4"><a class="btn-large blue" href="{{ path('actors_show', { 'raisonsocial': actor.raisonsocial }) }}">{{ actor.raisonsocial }}</a><i class="material-icons right">more_vert</i></span>
            <p><a href="#">{{ actor.siteweb }}</a></p>
            </div>
            <div  class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons">accessibility</i>{{ actor.nomdudirigeant }}<i class="material-icons right">close</i></span>
            <ul>
            <li> <i class="material-icons">place</i>{{ actor.adresse }} </li>
            <li><i  class="material-icons">phone</i> {{ actor.tel }} </li>
            <li><i  class="material-icons">mail</i> {{ actor.mail }} </li>
            <li><i " class="material-icons">arrow</i> <blockquote> <strong>{{ actor.secteur}} </strong> {{ actor.description }}</blockquote> </li>

            <li> <i class="material-icons">device_hub</i> {{ actor.facebook }} </li>
            <li><i  class="material-icons">linkedin</i> {{ actor.linkedin }} </li>
            <li><a  href=""><i class="material-icons">twitter</i> {{actor.twitter }}</a> </li>
            <li><i  class="material-icons">instragram</i> {{ actor.instagram }} </li>
            <li></li>
            <li>  {{ actor.competences }} </li>
            </ul>
            <ul>
            <li>
            <a class="btn-large green" href="{{ path('actors_show', { 'raisonsocial': actor.raisonsocial }) }}">Voir +</a>
            </li>
            </ul>
            </div>
            </div>
            </div>
            </div>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>






{% endblock %}
